@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    background-color: #3B4252;

}

.landing {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
}

.container {
    width: 85%;
    margin: 0 auto;

}

.bg {
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: -1;
    opacity: 0.1;
}

.content {
    text-align: center;
}

.content .logo {
    margin-top: 50px;
    max-width: 90px;
    height: auto;
}

.content-card .title {
    margin-top: 60px;
    font-size: 35px;
    font-weight: 400;
    color: white;
}

.text-container {
    margin-top: 30px;
}

.text-container p {
    font-size: 17px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}
.text-container p span {
    color: #E9515E;
}
.illustration {
    width: 100%;
    text-align: center;
    padding: 1px;
}

.team-i {
    margin-top: 40px;
    width: 80%;
    max-width: 768px;
    height: auto;
}
.contact-us-btn {
    border: none;
    width: 260px;
    height: 75px;
    background-color: #E9515E;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
}
.footer {
    padding:0 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.footer i{
margin-right: 10px;
}
.footer-center {
    text-align: center;
}
.footer-right {
    text-align: right;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0 !important;
}
.btnp {
    position: relative;
}
.hand {
    top:19px;
    left:0;
    width: 125px;
    height: auto;
    position: absolute;
    z-index: -1;
}
form {
    color: white;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E9515E;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
  }
  input::placeholder {
      color: white;
  }
  .form-card {
    text-align: left;
    width: 450px;
    border-radius: 5px;
    background-color: #3B4252;
    padding: 20px;
  }